Total number of lines: {{ total_count }}

{% if by_record_type.S or by_record_type.T or by_record_type.D -%}
Sources documentation

  {% if by_record_type.S or by_record_type.T -%}
  n.extracts: {{ by_record_type.S + by_record_type.T }}
  - n.snippets: {{ by_record_type.S }} ({{ '%.1f' | format(by_record_type.S / (by_record_type.S + by_record_type.T) * 100) }}% of extracts)
  - n.tables:   {{ by_record_type.T }} ({{ '%.1f' | format(by_record_type.T / (by_record_type.S + by_record_type.T) * 100) }}% of extracts)
  {% endif -%}
  {% if by_record_type.D -%}
  from {{ by_record_type.D }} documents
    avg n.snippets/document: {{ '%.2f' | format(by_record_type.S / by_record_type.D) }}
    avg n.extracts/document: {{ '%.2f' | format((by_record_type.S + by_record_type.T) / by_record_type.D) }}
  {%- endif %}

{% endif %}
{%- if by_record_type.G -%}
Organism groups

  N.groups: {{ by_record_type.G }}
  Types:
    {%- for gcat, gcat_types in G_categories.items() %}
    {{ gcat }}: {{ n_G_by_category[gcat] }} ({{ "%.2f" | format(n_G_by_category[gcat] * 100 / total_count) }}%)
      {%- for gtype in gcat_types %}
        {{ gtype }}: {{ n_G_by_type[gtype] }} ({{ "%.2f" | format(n_G_by_type[gtype] * 100 / total_count) }}%)
        {%- if gtype in n_G_defprefix_by_type -%}
            {{ '      ' }} Definition types: {{ ' ' }}
              {%- for defprefix in n_G_defprefix_by_type[gtype] -%}
                 {{ defprefix }}: {{ n_G_defprefix_by_type[gtype][defprefix] }}; {{ ' ' }}
              {%- endfor -%}
        {%- endif -%}
        {% if gtype in info_G_by_type %}
            {%- for item in info_G_by_type[gtype] %}
              {{ item[0] }}:{{ "\t" }}{{ item[1] }}{{ "\t"  }}{{ item[2]  }}
            {%- endfor -%}
        {%- endif -%}
        {% if gtype in n_G_by_children_type %}
            {%- for klass in n_G_by_children_type[gtype] %}
              {{klass}}: {{ n_G_by_children_category[gtype][klass] }} ({{ "%.2f" | format(n_G_by_children_category[gtype][klass] * 100 / total_count) }}%)
              {%- for child_type, c in n_G_by_children_type[gtype][klass].items() %}
                {{ child_type }}: {{ c }}
              {%- endfor -%}
            {%- endfor -%}
        {%- endif -%}
      {%- endfor %}
    {%- endfor %}

{% endif %}
{%- if by_record_type.A or by_record_type.U -%}
Genome contents

  {% if by_record_type.A -%}
  N.attributes: {{ by_record_type.A }}
    By mode:
      {%- for k in n_A_by_mode | sort %}
      {{k}}: {{n_A_by_mode[k]}}
      {%- endfor %}
  {%- endif %}
  {%- if by_record_type.U %}

  N.units: {{ by_record_type.U }} (with M: {{ n_U_with_M }})
    By number of attributes:
      {%- for k,v in n_n_A_by_U.items() %}
      with {{k}} attributes: {{v}}
      {%- endfor %}
    By type:
      {%- for kind in n_U_by_kind_and_type | sort %}
        {{kind}}:{{'\t'}}{{n_U_by_kind[kind]}}
        {%- for k in n_U_by_kind_and_type[kind] | sort %}
          {{k}}:{{'\t'}}{{n_U_by_kind_and_type[kind][k]}}   {{'\t'}}(n.attr {{n_A_mode_by_U_type[k].values()|sum}}, by mode: [ {% for x,y in n_A_mode_by_U_type[k].items() %} {{x}}: {{y}}; {{""}} {% endfor %}])
          {%- for r in n_U_by_kind_and_type_r[kind][k] | sort %}
            {{r}}:{{'\t'}}{{n_U_by_kind_and_type_r[kind][k][r]}}
          {%- endfor %}
        {%- endfor %}
      {%- endfor %}
        (sum):
        {%- for k in n_U_by_type | sort %}
          {{k}}:{{'\t'}}{{n_U_by_type[k]}}   {{'\t'}}(n.attr {{n_A_mode_by_U_type[k].values()|sum}}, by mode: [ {% for x,y in n_A_mode_by_U_type[k].items() %} {{x}}: {{y}}; {{""}} {% endfor %}])
          {%- for r in n_U_by_type_r[k] | sort %}
            {{r}}:{{'\t'}}{{n_U_by_type_r[k][r]}}
          {%- endfor %}
        {%- endfor %}

  N.models: {{ by_record_type.M }}
      {%- for k,v in n_M_by_resource_id.items() %}
      {{k}}: {{v}}
      {%- endfor %}
  {%- endif %}

{%- endif %}
{% if by_record_type.V or by_record_type.C %}
Rules:

  {% if by_record_type.V -%}
  N.value rules: {{ by_record_type.V }}
    referring to {{ n_A_in_V }} attributes
      avg n.value rules/attribute: {{ "%.1f" | format(by_record_type.V / n_A_in_V) }}
    referring to {{ n_G_in_V }} groups
      avg n.value rules/group: {{ "%.1f" | format(by_record_type.V/n_G_in_V) }}
    By n.sources:
      {%- for k in n_V_by_n_sources | sort %}
      {{k}}: {{n_V_by_n_sources[k]}}
      {%- endfor %}
    By group portion:
      {%- for k in n_V_by_G_portion | sort %}
      {{k}}: {{n_V_by_G_portion[k]}}
      {%- endfor %}
    By operator:
      {%- for k in n_V_by_operator | sort %}
      {{k}}: {{n_V_by_operator[k]}} {{"  \t"}}({%- for k2,v2 in n_V_by_operator_and_reference[k].items() -%}
          {{k2}}: {{v2}};{{" "}}
        {%- endfor -%}{{" "}})
      {%- endfor %}
{%- endif %}

{% if by_record_type.C %}
  N.comparison rules: {{ by_record_type.C }}
    referring to {{ n_A_in_C }} attributes
      avg n.value rules/attribute: {{ "%.1f" | format(by_record_type.V / n_A_in_C) }}
    referring to {{ n_G_in_C }} groups
      avg n.value rules/group: {{ "%.1f" | format(by_record_type.V/n_G_in_C) }}
    By n.sources:
      {%- for k in n_C_by_n_sources | sort %}
      {{k}}: {{n_C_by_n_sources[k]}}
      {%- endfor %}
    By n.attributes:
      {%- for k in n_C_by_n_A | sort %}
      {{k}}: {{n_C_by_n_A[k]}}
      {%- endfor %}
    By group portion:
      {%- for k in n_C_by_G_portion | sort %}
      {{k}}: {{n_C_by_G_portion[k]}}
      {%- endfor %}
    By operator:
      {%- for k in n_C_by_operator | sort %}
      {{k}}: {{n_C_by_operator[k]}}
      {%- endfor %}
{%- endif -%}

{%- endif -%}
